* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eef9bf;
}
h1 {
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h2 {
    color: #eef9bf;
    font-size: 40px;
    font-weight: 500;
    background-color: #75B79E;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cartas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.carta {
    width: 117px;
    height: 146px;
    position: relative;
    margin: 25px;
}
.estiloCarta {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.verso {
    transform: rotateY(180deg);
}
.vira {
    transform: rotateY(0deg);
}
.frente {
    transform: rotateY(-180deg);
}
.carta img {
    height: 100px;
    width: 100px;
}
.espera {
    height: 1000px;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    opacity: 0;
}
@media (max-width: 414px) {
    .cartas {
        flex-direction: column;
    }
    h1 {
        font-size: 36px;
    }
}